#about-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #333;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s ease;

    &:hover {
      border-color: #ccc;
    }

    &.current {
      border-color: #3fb1f3;
    }
  }
}

#about-a {
  height: 100vh;
  text-align: center;
  color: #333;
  height: 150vh;
}

.about-img {
  height: 350px;
  width: 350px;
}

#about-a {
  .about-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    background: gray;
    height: 350px;
    width: 700px;
    border-left: 5px solid #3fb1f3;
  }

  .awards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
  }

  .bio-border {
    height: 350px;
    width: 350px;
  }
}

//? SmartPhones
@media (max-width: 500px) {
  .about-info {
    flex-direction: column;
  }
}
