#main-footer {
  background: #333;
  color: white;
  height: 5rem;
  position: relative;
  bottom: 0;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;

    .social .fab {
      margin-right: 1rem;
      border: 2px #fff solid;
      color: #fff;
      border-radius: 50%;
      text-align: center;
      padding: 0.5rem;
      transition: all 0.5s ease;

      &:hover {
        background: #3fb1f3;
        color: #333;
      }
    }
  }
}

//? SmartPhones
@media (max-width: 500px) {
  #main-footer {
    background: #333;
    color: white;
    height: 7rem;
    position: relative;
    bottom: 0;
    padding-top: 1rem;

    .footer-content {
      flex-direction: column;
    }
  }
}
