.home {
  &-content {
    height: 100vh;
    text-align: center;
    padding-top: 20%;
    background: url('https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80')
      no-repeat center center/cover;

    h1 {
      font-size: 7rem;
      line-height: 1.2;
      color: #fff;
    }

    h2 {
      font-size: 3rem;
      line-height: 1.2;
      color: #fff;
    }
    h3 {
      font-size: 2rem;
      line-height: 1.2;
      color: #fff;
      margin-top: 10px;
    }

    button {
      margin-top: 15px;
    }
  }
}

//* Section A

#home {
  &-a {
    .section-title {
      font-size: 3rem;
    }

    .specials {
      margin: 3rem;
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: repeat(5, 1fr);
    }

    .fas,
    .fab {
      color: #3fb1f3;
      padding-bottom: 0.4rem;
    }
  }

  //* Section B

  &-b {
    .stats {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      li {
        line-height: 2;
      }
      &.stats-title {
        font-size: 1.5rem;
      }

      &.stats-number {
        font-size: 2rem;
        font-weight: bold;
      }
    }

    div {
      padding: 3rem 0;

      &:nth-child(even) {
        background: #333;
        color: white;
      }
    }

    .odds {
      background: #f4f4f4;
    }
  }

  //*Home Section C

  &-c {
    .process {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5rem;
      text-align: center;

      &-icon {
        border-radius: 50%;
        background: #333;
        color: #fff;
        padding: 2rem;
        text-align: center;
        position: relative;
        transition: all 0.5s;

        &:hover {
          background: #3fb1f3;
          color: #333;
        }
      }
    }
  }
}

//? Tablets and smaller
@media (max-width: 800px) {
  .home-content {
    height: 30rem;
    padding-top: 5rem;

    h1 {
      font-size: 5rem;
    }
    h2 {
      font-size: 2rem;
      line-height: 1.2;
      color: #fff;
    }
    h3 {
      font-size: 1.5rem;
      line-height: 1.2;
      color: #fff;
      margin-top: 10px;
    }
  }
}

//? SmartPhones
@media (max-width: 500px) {
  #main-nav {
    flex-direction: column;
    align-items: center;
  }

  #home-a .specials,
  #home-b .stats,
  #home-c .process {
    grid-template-columns: 1fr;
  }
}
