.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

//* Buttons

%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn {
  &-main {
    @extend %btn-shared;
    color: #333;
    background-color: $main-color;
  }
  &-light {
    @extend %btn-shared;
    color: #333;
    background-color: $light-color;
  }
  &-dark {
    @extend %btn-shared;
    color: #f4f4f4;
    background-color: $dark-color;
  }
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: $main-color;
  color: #fff;
}

//* Backgrounds
.bg {
  &-main {
    background: #3fb1f3;
    color: set-text-color(#3fb1f3);
  }
  &-dark {
    background: #333;
    color: set-text-color(#333);
  }
  &-light {
    background: #fff;
    color: set-text-color(#fff);
  }
  &-medium {
    background: #ccc;
    color: set-text-color(ccc);
  }
}

.lead {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s ease;
}

a:hover {
  border-color: $medium-color;
}

//* padding

.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}

//* Margin

.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

//* Bottom-line

.bottom-line {
  display: block;
  height: 2px;
  width: 5rem;
  background: $main-color;
  margin: 0 auto 1rem auto;
}

//*flex

.d-flex {
  display: flex;
}
