.home-content {
  height: 100vh;
  text-align: center;
  padding-top: 20%;
  background: url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80") no-repeat center center/cover;
}
.home-content h1 {
  font-size: 7rem;
  line-height: 1.2;
  color: #fff;
}
.home-content h2 {
  font-size: 3rem;
  line-height: 1.2;
  color: #fff;
}
.home-content h3 {
  font-size: 2rem;
  line-height: 1.2;
  color: #fff;
  margin-top: 10px;
}
.home-content button {
  margin-top: 15px;
}

#home-a .section-title {
  font-size: 3rem;
}
#home-a .specials {
  margin: 3rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(5, 1fr);
}
#home-a .fas,
#home-a .fab {
  color: #3fb1f3;
  padding-bottom: 0.4rem;
}
#home-b .stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#home-b .stats li {
  line-height: 2;
}
#home-b .stats.stats-title {
  font-size: 1.5rem;
}
#home-b .stats.stats-number {
  font-size: 2rem;
  font-weight: bold;
}
#home-b div {
  padding: 3rem 0;
}
#home-b div:nth-child(even) {
  background: #333;
  color: white;
}
#home-b .odds {
  background: #f4f4f4;
}
#home-c .process {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  text-align: center;
}
#home-c .process-icon {
  border-radius: 50%;
  background: #333;
  color: #fff;
  padding: 2rem;
  text-align: center;
  position: relative;
  transition: all 0.5s;
}
#home-c .process-icon:hover {
  background: #3fb1f3;
  color: #333;
}

@media (max-width: 800px) {
  .home-content {
    height: 30rem;
    padding-top: 5rem;
  }
  .home-content h1 {
    font-size: 5rem;
  }
  .home-content h2 {
    font-size: 2rem;
    line-height: 1.2;
    color: #fff;
  }
  .home-content h3 {
    font-size: 1.5rem;
    line-height: 1.2;
    color: #fff;
    margin-top: 10px;
  }
}
@media (max-width: 500px) {
  #main-nav {
    flex-direction: column;
    align-items: center;
  }

  #home-a .specials,
#home-b .stats,
#home-c .process {
    grid-template-columns: 1fr;
  }
}
.work-page {
  height: 100vh;
  text-align: center;
  color: #fff;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff !important;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: rgba(0, 0, 0, 0.3);
  margin: 1rem;
}
.items .item {
  position: relative;
  background: #3fb1f3;
  overflow: hidden;
}
.items .item::after {
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  opacity: 0.5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
  transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
}
.items .item:hover:after {
  transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}
.items .item:hover .item-image {
  transform: scale(1.2);
}
.items .item:hover .item-text {
  opacity: 1;
  transform: translateY(0);
}
.items .item-image {
  height: auto;
  transform: translateZ(0);
  display: block;
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
}
.items .item-image::before {
  content: "";
  display: block;
  padding-top: 75%;
  overflow: hidden;
}
.items .item-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  line-height: 0;
}
.items .item-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  text-align: center;
  z-index: 1;
  color: #fff;
  transform: translateY(-20%);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition-delay: 300ms;
}
.items .item-text-wrap {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.items .item-text-title {
  font-size: 2rem;
  padding: 0 1rem;
  margin-top: 5px;
}
.items .item-text-category {
  text-transform: uppercase;
  font-size: 1.2rem;
  opacity: 0.7;
  margin: 0;
}

@media (max-width: 500px) {
  .items {
    grid-template-columns: 1fr;
  }
}
#about-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #333;
}
#about-nav ul {
  display: flex;
}
#about-nav li {
  padding: 1rem 1.5rem;
}
#about-nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s ease;
}
#about-nav a:hover {
  border-color: #ccc;
}
#about-nav a.current {
  border-color: #3fb1f3;
}

#about-a {
  height: 100vh;
  text-align: center;
  color: #333;
  height: 150vh;
}

.about-img {
  height: 350px;
  width: 350px;
}

#about-a .about-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#about-a .bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  background: gray;
  height: 350px;
  width: 700px;
  border-left: 5px solid #3fb1f3;
}
#about-a .awards {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
}
#about-a .bio-border {
  height: 350px;
  width: 350px;
}

@media (max-width: 500px) {
  .about-info {
    flex-direction: column;
  }
}
#contact-a {
  height: 80vh;
}
#contact-a .text-fields {
  display: grid;
  grid-template-areas: "name email" "subject phone" "message message";
  grid-gap: 1.2rem;
  margin-bottom: 1.2rem;
}
#contact-a .text-fields .name-input {
  grid-area: name;
}
#contact-a .text-fields .subject-input {
  grid-area: subject;
}
#contact-a .text-fields .email-input {
  grid-area: email;
}
#contact-a .text-fields .phone-input {
  grid-area: phone;
}
#contact-a .text-fields .message-input {
  grid-area: message;
  height: 100px;
}
#contact-a .text-fields .text-input {
  padding: 0.5rem 1rem;
}
#contact-a button[type=submit] {
  width: 50%;
}
#contact-b .contact-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  color: #fff;
}
#contact-c h1 {
  text-align: center;
  font-size: 4rem;
  color: #fff;
}

#main-footer {
  background: #333;
  color: white;
  height: 5rem;
  position: relative;
  bottom: 0;
}
#main-footer .footer-content {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
}
#main-footer .footer-content .social .fab {
  margin-right: 1rem;
  border: 2px #fff solid;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  padding: 0.5rem;
  transition: all 0.5s ease;
}
#main-footer .footer-content .social .fab:hover {
  background: #3fb1f3;
  color: #333;
}

@media (max-width: 500px) {
  #main-footer {
    background: #333;
    color: white;
    height: 7rem;
    position: relative;
    bottom: 0;
    padding-top: 1rem;
  }
  #main-footer .footer-content {
    flex-direction: column;
  }
}
#logo {
  height: 70px;
  width: 70px;
  color: #fff;
  text-transform: uppercase;
}

#main-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #333;
}
#main-nav ul {
  display: flex;
}
#main-nav li {
  padding: 1rem 1.5rem;
}
#main-nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s ease;
}
#main-nav a:hover {
  border-color: #ccc;
}
#main-nav a.current {
  border-color: #3fb1f3;
}

.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.btn-dark, .btn-light, .btn-main {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn-main {
  color: #333;
  background-color: #3fb1f3;
}
.btn-light {
  color: #333;
  background-color: #f4f4f4;
}
.btn-dark {
  color: #f4f4f4;
  background-color: #333;
}

button[class^=btn-]:hover,
a[class^=btn-]:hover,
input[class^=btn-]:hover {
  background-color: #3fb1f3;
  color: #fff;
}

.bg-main {
  background: #3fb1f3;
  color: set-text-color(#3fb1f3);
}
.bg-dark {
  background: #333;
  color: set-text-color(#333);
}
.bg-light {
  background: #fff;
  color: set-text-color(#fff);
}
.bg-medium {
  background: #ccc;
  color: set-text-color(ccc);
}

.lead {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s ease;
}

a:hover {
  border-color: #ccc;
}

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 4rem 0;
}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-4 {
  margin: 4rem 0;
}

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

.bottom-line {
  display: block;
  height: 2px;
  width: 5rem;
  background: #3fb1f3;
  margin: 0 auto 1rem auto;
}

.d-flex {
  display: flex;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

li {
  cursor: pointer;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}